!!!
html
  head
    link(href='http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css' rel='stylesheet')
    //link(href='./views/bootstrapmin.css' rel='stylesheet')
    style.
      body {
        padding-top: 50px;
      }

      .starter-template {
        padding: 40px 15px;
        text-align: center;
      }
     
      #chart_div {
         width: 900px;
         height: 500px;
      }
      
      #count_div {
         margin-left: 100px;
      }
    
    script(src='http://www.google.com/jsapi')
    script
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Timestamp', 'Temperature', 'Humidity'],
          #{datatemperatures}
        ]);
        var options = {
          title: 'Stazioni Campodenno'
        };
        var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    
  body
    .navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='#') Server View
        .collapse.navbar-collapse
          // Check if there is a login user
          if user
            ul.nav.navbar-nav.navbar-right
              li
                a
                  | Welcome, 
                  = user.name
          else
            form.navbar-form.navbar-right
              .form-group
                input.form-control(type='text', placeholder='Email')
              .form-group
                input.form-control(type='password', placeholder='Password')
              button.btn.btn-success(type='submit') Sign in
    .container
      ul
      
    div
    #count_div
       h3 Data Counter Analysis
       br
       h4 Elaborated Data: #{dataCount}
       h4 Received Data: #{rawdataCount}
      
    div
      #chart_div 
      // iterate datas
      //each data in datas
          //li=data
          