﻿
body {
	background: url(../images/bg-body.png) repeat;
	color: #d1d3d4;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	margin: 0;
	min-width: 960px;
	padding: 0;
}
/*@font-face {
	font-family: 'ultraregular';
	src: url('../../fonts/ultra-webfont.eot');
	src: url('../../fonts/ultra-webfont.eot?#iefix') format('embedded-opentype'),
	url('../../fonts/ultra-webfont.woff') format('woff'),
	url('../../fonts/ultra-webfont.ttf') format('truetype'),
	url('../../fonts/ultra-webfont.svg#ultraregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'arvobold';
	src: url('../../fonts/arvo-bold-webfont.eot');
	src: url('../../fonts/arvo-bold-webfont.eot?#iefix') format('embedded-opentype'),
	url('../../fonts/arvo-bold-webfont.woff') format('woff'),
	url('../../fonts/arvo-bold-webfont.ttf') format('truetype'),
	url('../../fonts/arvo-bold-webfont.svg#arvobold') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'arvoregular';
	src: url('../../fonts/arvo-regular-webfont.eot');
	src: url('../../fonts/arvo-regular-webfont.eot?#iefix') format('embedded-opentype'),
	url('../../fonts/arvo-regular-webfont.woff') format('woff'),
	url('../../fonts/arvo-regular-webfont.ttf') format('truetype'),
	url('../../fonts/arvo-regular-webfont.svg#arvoregular') format('svg');
	font-weight: normal;
	font-style: normal;
}*/

a {
	outline: none;
}
img {
	border: 0;
}
p {
	line-height: 24px;
	margin: 0; 
}
p a,
#body div h2 a,
#body div div#home div.news h4 a {
	color: #d1d3d4;
}
p a:hover,
#body div h2 a:hover,
#body div div#home div.news h4 a:hover,
p a.more:hover {
	color: #ffc000;
}
p a.more {
	color: #d1d3d4;
	font-size: 12px;
	text-decoration: none;
}
#header {
	height: 147px;
	margin: 0 auto;
	padding: 10px 10px 0;
	width: 940px;
}
#header a img {
	display: block;
}
#body {
	background: url(../images/bg-wave.png) repeat;
}
#body > div {
	background: url(../images/bg-content.png) repeat;
	margin: 0 auto;
	overflow: hidden;
	padding: 47px 10px;
	width: 940px;
}
#body div #navigation {
	font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-style: italic;
    font-size: large;
	float: left;
	list-style: none;
	margin: 0;
	padding: 0;
}
#body div #navigation li a {
	color: #d1d3d4;
	display: inline-block;
	height: 60px;
	line-height: 64px;
	padding: 0 25px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
}
#body div #navigation li a.link1 {
	background: #d1d3d4;
    color: #02164d;
}
#body div #navigation li a.link2 {
	background: #737476;
    color: #02164d;
}
#body div #navigation li.current a {
	background: #d1d3d4;
	color: #02164d;
}
/*#body div #navigation li.current a:hover {
	color: #02164d;
}
#body div #navigation li a:hover {
	color: #fff799;
}*/
#body div div#home {
    font-family: 'Helvetica, Arial, sans-serif';
	float: right;
	width: 700px;
}
#body div h1 {
	color: #02164d;
	font-family: 'Helvetica, Arial, sans-serif';
	font-size: 50px;
	font-weight: normal;
    text-align: center;
	line-height: 48px;
	margin: 0;
}
#body div h1 span {
	text-transform: uppercase;
}
#body div div#home h2 {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 30px;
	font-weight: bold;
    text-align: center;
	line-height: 36px;
	margin: 0;
	padding: 19px 0 0;
    color: #737476;
}
#body div div#home div.section {
	/*background: url(../images/surfing.png) no-repeat;*/
	/*height: 381px;
	margin: 29px 0 106px;*/
	position: relative;
}
#body div div#home div.section a {
	/*background: url(../images/interface.png) no-repeat 0 -380px;*/
	color: #fff799;
	display: block;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	height: 88px;
	line-height: 24px;
	left: 331px;
	padding: 30px 0 0;
	position: absolute;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	top: 245px;
	width: 118px;
}
#body div div#home div.section span {
	display: block;
	font-size: 18px;
}
#body div div#home div.section a:hover {
	/*background: url(../images/interface.png) no-repeat -119px -380px;*/
}
#body div div#home div.news {
	overflow: hidden;
}
#body div div#home div.news h3 {
	color: #fff799;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 18px;
	font-weight: normal;
	margin: 0;
	padding: 0 0 15px;
	text-transform: uppercase;
}
#body div div#home div.news a.figure {
	display: block;
	float: left;
}
#body div div#home div.news a.figure img {
	margin: 5px 0 0;
}
#body div div#home div.news a.figure img {
	display: block;
	filter: alpha(opacity=100);/* Needed for IE8 and old versions */
	opacity: 1;
}
#body div div#home div.news a.figure img:hover {
	filter: alpha(opacity=90);/* Needed for IE8 and old versions */
	opacity: 0.9;
}
#body div div#home div.news div {
	float: right;
	width: 540px;
}
#body div div#home div.news h4 {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-weight: normal;
	line-height: 24px;
	margin: 0;
	text-transform: uppercase;
}
#body div div#home div.news h4 a {
	color: #d1d3d4;
	text-decoration: none;
}
#body div div#home div.news h4 a:hover {
	color: #fff799;
}




#chart_div, #chart_div_2 {
    width: 700px;
    height: 350px;
    margin: 0 auto;
}

#pnlErrore {
    margin-left: auto;
    margin-right: auto;
    color: red;
    font-size: larger;
    font-size: 24px;
    text-align: center;
}

table {
    margin-left: auto;
    margin-right: auto;
}

th, td {
	padding: 10px 20px 10px 20px;
    width: 50px;
	border-spacing: 0px;
	font-size: 20px;
	margin: 0px;
    color: #737476;
	/*text-align: center;*/
	background-color: #e0e9f0;
	border-top: 1px solid #f1f8fe;
	border-bottom: 1px solid #cbd2d8;
	border-right: 1px solid #cbd2d8;
}


.btn {
  margin-left:auto;
  margin-right:auto;
  display:block;
  background: #34ced9;
  background-image: -webkit-linear-gradient(top, #34ced9, #2980b9);
  background-image: -moz-linear-gradient(top, #34ced9, #2980b9);
  background-image: -ms-linear-gradient(top, #34ced9, #2980b9);
  background-image: -o-linear-gradient(top, #34ced9, #2980b9);
  background-image: linear-gradient(to bottom, #34ced9, #2980b9);
  -webkit-border-radius: 17;
  -moz-border-radius: 17;
  border-radius: 17px;
  font-family: Helvetiva, Arial, sans-serif;
  color: #ffffff;
  font-size: 23px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}


div.progress{
  margin: 0;
  text-align: center;
  font-size: 7;

  position: fixed; /* Makes sure its absolute so it doesn't dock with everything else */
 background-position-x:top;
 background-position-y:left;
 top: 0px;
 left:0px;
 margin:auto;
 vertical-align:central;
 z-index:100001;
  z-index: 9; /* Makes it on top of everything else */
  font-family: arial; /* Sets the font */
  width:100%;
  height:100%;
}


/*PopUp*/
.modalBackground {
	background-color:Gray;
	filter:alpha(opacity=70);
	opacity:0.7;
}